.git
.github/
.gitignore
.env
.env.*
.vscode/
.editorconfig
__pycache__/
.ruff_cache/
*.py[cod]
*.egg-info/
.venv/
build/
dist/
*.egg
tests/
testing_data/
.pytest_cache/
report.html
docs/
mkdocs.yml
report.html
openapi.json
.scannerwork
data/
log/
app.db
Dockerfile

# 8. Everything else you don’t explicitly include
*
!src/
!uv.lock
!pyproject.toml
!README.md
